.Rproj.user
.Rhistory
.RData
.Ruserdata

data/*_raw_data/*

saves/irt*

wonder_word_list_natalia.xlsx

data/.DS_Store

.DS_Store

saves/irt1.rds
saves/irt_100.rds
saves/irt1_fit_sel.rds
saves/freq100.rds
saves/freq125.rds
saves/freq150.rds
saves/freq175.rds
saves/freq200.rds
saves/freqAll.rds
saves/irt1.rds
saves/irt2PL.rds
saves/irt1_fit_sel.rds
saves/irt2PL_fit_sel.rds
saves/freqAll.rds
saves/freq100.rds
saves/freq125.rds
saves/freq150.rds
saves/freq175.rds
saves/m1PL_gene_75.rds
saves/m2PL_gene_75.rds
saves/m1PL_gene_100.rds
saves/m2PL_gene_100.rds
saves/freq90.rds
saves/freq95.rds
saves/freq90_100.rds
saves/freq95_100.rds
saves/freq100_100.rds
saves/freq125_100.rds
saves/freq150_100.rds
saves/freq175_100.rds
saves/freq100gene.rds
saves/irt1_final_90.rds
saves/irt1_final_90_dif_sex.rds
